/* Logo */

.aarogyam_logo {
  width: 8.6rem;
}

.logo-align {
  text-align: center;
}

/* Header */

.nav-flex {
  justify-content: center;
  align-items: center;
  padding: 3.2rem;
}

.nav-section {
  flex-direction: row;
  gap: 8.6rem;
  list-style: none;
  align-items: center;
}

.nav-link {
  text-decoration: none;
}

.nav-links-text {
  color: #008000;
  font-size: 1.2rem;
  transition: all 0.3s;
}

.nav-links-text:hover {
  color: #003300;
}

.header-btn {
  background-color: #008000;
  color: #fff;
  transition: all 0.3s;
}

.header-btn:hover {
  background-color: #003300;
}

/* Section Hero */

.hero {
  background-image: url("../public/Main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.hero-heading {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: center;
  align-items: center;
}

.hero-secondary-heading,
.hero-primary-heading {
  color: #008000;
}

/* Section AboutUs */

.section-aboutus {
  background-image: linear-gradient(#e8e7e3, #fff, #fff, #fff, #fff, #fff);
  padding: 6.4rem;
}

.about-grid {
  grid-template-columns: repeat(2, 1fr);
}

.about-secondary-heading {
  color: #1e3888;
  text-align: center;
}

.about-text {
  padding-top: 1.6rem;
  font-size: 1.6rem;
  text-align: justify;
}

.img-aboutus {
  padding: 1.6rem;
  display: block;
  margin: 0 auto;
  place-items: center;
  width: 50%;
  border: 0.5rem solid #1e3888;
  border-radius: 50%;
}
